.pytest_cache
__pycache__
.idea
PrescriptionList.xls
PrescriptionList.xls:Zone.Identifier
/notebooks/tmp/stamp_detector.pt

/venv/
.venv
venv/
downloads
executions
testing.ipynb
read_report.ipynb
notebooks/result.txt
/dist/
/build/
/scans/
/output.txt
/.vagrant/
/test/_trial_temp/
lint
format
type
.pkg
.tmp
autoscription_main_assembly.py
autoscription_main_assembly.c
run_installer_assembly.c
run_installer_assembly.py
/**/.terraform/
/**/.terraform.lock.hcl
/autoscription_main.cp38-win_amd64.pyd
/autoscription_main.pyi
/autoscription_main.build/
/src/autoscription/delivery/installer.cp38-win_amd64.pyd
/src/autoscription/delivery/installer.pyi
/src/autoscription/delivery/installer.build/
/bandit.html
/cache
/sec/
/nuitka_build/
/.coverage
/runtest/
**/.coverage
/reports/
/.mypy_cache/
/my_cached_data/cache.db
/projects/whitelist/node_modules/
.metals
/certs/
/pages_before_merge_with_injection_pages.csv
/pages_df_after_create_pages_df_start.csv
/pages_df_after_merge_grouped_dosages_df_grouped_hospital_medicines_df_pres_timestamp_df_stack_position_df.csv
/pages_df_final.csv
/pres_timestamp_df.csv
/stack_position_df.csv
/dosages_df_merged_hospital_medicines_df.csv
/dosages_df_merged_injection_dosages.csv
/grouped_dosages_df.csv
/grouped_hospital_medicines_df.csv
/hospital_medicines_df.csv
/index_df.csv
/injection_pages.csv
/pages_df_after_merge_grouped_dosages_df_pres_timestamp_df_stack_position_df.csv
/pages-final.csv
