tox==4.6.3
flake8==6.0.0
pre-commit==3.3.3
black[d]==23.3.0
nuitka==2.1.4
pytest==7.4.0
pytest-mock==3.11.1
pytest-cov==4.1.0
pytest-html==3.2.0
pytest-xdist==3.3.1
time-machine==2.10.0
types-requests==2.31.0.20240218
mypy==1.5.1
virtualenv ==20.25.0